<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./app/classes</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./app/interfaces/</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tests/coverage/coverage.xml"/>
        <log type="coverage-html" target="tests/coverage/html"/>
    </logging>

</phpunit>